@media only screen and (min-device-width: 1130px){
    p{
        padding: 3rem 10rem;
    }

    h3{
        text-align: center;
    }
    
    .item:hover{
        font-size: 1.3rem;
    }

    .item a:hover{
        color: #7d9c98;
    }

    .logonav2:hover{
        transform: scale(1.2)
    }

    /*main*/

    #principal{
        flex-direction: row;
        margin-top: 1rem;
    }

    #imgtiago{
        width: 30%;
    }

    #principal p{
        text-align: left;
    }

    .subprincipal{
        align-items: flex-start;
    }

    #social{
        flex-direction: row;
    }



    /*hard skills*/

  .barra{
    width: 60%;
  }
}