#intro {
  margin: 0;
}

#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#principal h3{
  text-align: center;
}

#imgtiago {
  width: 100%;
  border-radius: 3rem;
}

#principal p {
  font-size: 1.5rem;
  text-align: center;
}

.subprincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

#social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

/*btn*/

button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #FCFDFD;
  --button_outline_color: #000000;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  padding: 0;
}

#cv span {
  background: #BBD2CF;
  ;
}

#linkedin span {
  background: #378FE9;
  color: white;
}



.button_top {
  display: block;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

/*sobre mim*/

#sobremim p{
  font-size: 1.5rem;
  text-align: center;
}


/*hard skills*/

.barra {
  width: 100%;
}

.progressbar {
  background-color: #BBD2CF;
  border-radius: 13px;
  padding: 3px;
}

.progresso {
  background: linear-gradient(232deg, #8085C2 0%, #378FE9 100%);
  height: 10px;
  border-radius: 10px;
}

#html>div>div {
  width: 60%;
}

#css>div>div {
  width: 60%;
}

#aws>div>div {
  width: 30%;
}

#php>div>div {
  width: 10%;
}

/*SOFT SKILLS*/

#soft__skills h3 {
  text-align: left;
}

/*experiencia*/

.cards_experiencia{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.card{
  border-radius: 10px;
}

.card-img-top{
  border-radius: 10px;
  padding: 2rem;
  background-color: #eeeeee8e;
}

.card-body{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-titulo{
  padding: 5px;
  width:fit-content;
  background-color: #BBD2CF;
  border-radius: 4px;

}
/*contato*/

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*rodape*/

#rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #BBD2CF;
  padding: 1rem;
  gap: 10px;
}

#rodape svg {
  font-size: 2rem;
  transition: 0.3s;
}

#rodape svg:hover {
  transform: scale(1.2);
}

.logorodape {
  width: 7rem;
  transition: 0.3s;
}

.logorodape:hover {
  transform: scale(1.2)
}