@media only screen and (min-device-width: 521px){
    #principa{
        flex-wrap: wrap;
    }
    
    #imgtiago{
        width: 50%;
    }
}

@media only screen and (min-device-width: 903px){


    .logonav{
        display: none;
    }

    .logonav2{
        display: list-item;
        width: 6rem;
    }

    /*main*/

    #imgtiago{
        width: 50%;
    }
}